{% extends "base.html" %}
{% block content %}
<p><a href="..">Home</a></p>
<h1 id="start">Cities</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <table class="table-center" >
                <tr>
                    <th>City</th>
                </tr>
                {% for c in cities%}
                    <tr>
                    <td>
                        <form action="{% url 'weather' %}" method="get">
                            <input type="submit" value="{{ c.name }}" name="city">
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}