{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: cornflowerblue">
        <h2 style="color:brown">Please enter the departure location and departure date:</h2>
        <form action="{% url 'estimate' %}" method="get">
            <input type="hidden" value="{{ decision.name }}" name="decision">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <h4>City:</h4>
                        <input class="form-control d-inline-block" name="city-from" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <h4>State:</h4>
                        <select class="form-control d-inline-block" name="state-from">
                            {% for s in state %}
                            <option value="{{ s.postal }}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <h4>Date of Departure:</h4>
                        <input class="form-control d-inline-block" name="date" type="date">
                    </div>
                </div>
            </div>
            <input type="submit" value="submit">
        </form>
        <div class="row">
            <h2>Or</h2>
            <form id="regret" action="{% url 'cities' %}" method="get">
                <input type="hidden" value="None of above, take me back to city list" name="city.x">
                <a href="#" style="font-weight: bolder; font-size: 50px; color: blue;
                text-decoration: underline" onclick="myFunction_journey_to_city()">
                    I regret, Take me back to city page!</a>
            </form>
            <script>
                function myFunction_journey_to_city() {
                    document.getElementById("regret").submit();
                }
            </script>
        </div>
    </div>
{% endblock %}