{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="jumbotron text-center" style="background-image: url('{% static bg_img %}');
            background-repeat: no-repeat; background-size: 100% 100%;">
    <br><br>
        <h2 class="table-center" style="background-color: cornflowerblue;">
            You selected {{ city.name }}. The current forecasted weather is
        <span style="color: red;text-decoration: underline;background-color: yellow">{{ weather }}</span>.
        </h2>
    <br><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p>You have looked at the following cities, you might want to check them out again: </p>
                    {% for c in cities_visited %}
                        <form action="{% url 'weather' %}" method="get">
                            <input type="submit" value="{{ c.name }}" name="city">
                        </form>
                    {% endfor %}
                        <form action="{% url 'cities' %}" method="get">
                            <input type="submit" value="None of above, take me back to city list" name="city">
                        </form>
            </div>
            <div class="col-sm-5">
                <p>No time to waste! I've decided! I will go to:</p>
                <form action="{% url 'journey' %}" method="get">
                    <select class="form-control d-inline-block" name="decision">
                        {% for c in cities %}
                        <option value="{{ c.name }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                <input type="submit" value="Decide!">
                </form>
            </div>
        </div>
    </div>
{% endblock %}