{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>
    You selected {{ city.name }}. The current forecasted weather is {{ weather }}.
    </h2>
    <p>
You have looked at the following cities, you might want to check them out again: <br>
{% for c in cities_visited %}
<form action="{% url 'weather' %}" method="get">
    <input type="submit" value="{{ c.name }}" name="city">
</form>
{% endfor %}
    <form action="{% url 'cities' %}" method="get">
        <input type="submit" value="None of above, take me back to city list" name="city">
    </form>
</p>
<p><a href="..">Home</a></p>
{% endblock %}